
.storybook-login2 {
  position: absolute;
  width: inherit;
  height: inherit;
}

.Desktop-1Login-1 {
  width: 100%;
  height: 100%;
  flex-grow: 0;
}

.storybook-spinner1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(50% - 75px/2 - 0.25px);
  top: calc(50% - 38px/2 - 0.5px);
}



.a2 {
  text-decoration: none;
  width: 87px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
}
.widget-table {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}
.a3 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.p {
  margin: 0;
}
.p1 {
  margin: 0;
}
.txt {
  width: 100%;
}
.b {
  width: 71px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  text-align: center;
  align-items: center;
}
.p2 {
  margin: 0;
}
.p3 {
  margin: 0;
}
.b1 {
  position: relative;
  letter-spacing: -0.01em;
  text-align: center;
}
.p4 {
  margin: 0;
}
.p5 {
  margin: 0;
}
.b2 {
  position: relative;
  letter-spacing: -0.01em;
  text-align: center;
}
.a4 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a5 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a6 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a7 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a8 {
  text-decoration: none;
  width: 38px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
}
.a9 {
  text-decoration: none;
  width: 33px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
}
.a10 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a11 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a12 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
}
.a13 {
  text-decoration: none;
  width: 64px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
}
.metric-labels {
  align-self: stretch;
  border-bottom: 1px solid var(--for-strokes);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px var(--padding-8xs);
  text-align: right;
}
.div2 {
  width: 18px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div3 {
  width: 67px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div4 {
  width: 43px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a14 {
  text-decoration: none;
  height: 32px;
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div5 {
  width: 36px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a15 {
  text-decoration: none;
  height: 32px;
  width: 38px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a16 {
  text-decoration: none;
  width: 26px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a17 {
  text-decoration: none;
  width: 22px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div6 {
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div7 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a18 {
  text-decoration: none;
  width: 27px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div8 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div9 {
  position: relative;
  letter-spacing: -0.01em;
}
.status-icons {
  margin: 0;
  width: 14.2px;
}
.group {
  width: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: right;
}
.a19 {
  text-decoration: none;
  width: 61px;
  position: relative;
  letter-spacing: -0.01em;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.metric-labels1 {
  align-self: stretch;
  border-bottom: 1px solid var(--for-strokes);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px var(--padding-8xs);
}
.div10 {
  width: 18px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div11 {
  width: 67px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div12 {
  width: 43px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div13 {
  height: 32px;
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div14 {
  width: 36px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a20 {
  text-decoration: none;
  height: 32px;
  width: 38px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div15 {
  width: 26px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div16 {
  width: 22px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div17 {
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div18 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div19 {
  width: 27px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div20 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div21 {
  position: relative;
  letter-spacing: -0.01em;
}
.icon-status {
  height: 12px;
  width: 12px;
  position: relative;
}
.container {
  width: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: right;
  color: var(--black);
}
.danttbsicoil {
  height: 32px;
  width: 61px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.metric-labels2 {
  align-self: stretch;
  border-bottom: 1px solid var(--for-strokes);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px var(--padding-8xs);
}
.div22 {
  width: 18px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div23 {
  width: 67px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div24 {
  width: 43px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div25 {
  height: 32px;
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div26 {
  width: 36px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.a21 {
  text-decoration: none;
  height: 32px;
  width: 38px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div27 {
  width: 26px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div28 {
  width: 22px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div29 {
  width: 35px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div30 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div31 {
  width: 27px;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div32 {
  width: 31px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.div33 {
  position: relative;
  letter-spacing: -0.01em;
}
.icon-status1 {
  height: 12px;
  width: 12px;
  position: relative;
}
.frame-div {
  width: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: right;
  color: var(--black);
}
.danttbsicoil1 {
  height: 32px;
  width: 61px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.metric-labels3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px var(--padding-8xs);
}
.metrics {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--small-text-size);
  color: var(--black1);
  font-family: var(--small-text);
}
.widget-table1 {
  width: 877px;
  height: 300px;
  box-shadow: var(--widgetshadow);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: right;
  font-size: var(--menu-text-size);
  color: var(--black1);
  font-family: var(--small-text);
}

.table {
  //background: var(--white);
}
