<div class="group-list-table-container">
  <ng-container *ngIf="tableObj && tableObj.length > 0; else noData">
    <table>
      <thead>
      <tr>
        @for (header of displayedColumns; track header) {
          <th>{{ header.toString() }}</th>
        }
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let superGroup of tableObj">
          <td>{{ superGroup.superGroupId }}</td>
          <td>{{ superGroup.superGroupName }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noData>
    <p>No group data to display.</p>
  </ng-template>
</div>
