<div class="widget-panel">
  <div class="panel-header">
    <app-search-bar (searchChange)="onSearchChange($event)"></app-search-bar>
  </div>

  <div class="widget-categories">
    <app-widget-category
      *ngFor="let category of getFilteredCategories()"
      [category]="category"
      [selectedWidgets]="selectedWidgetTypes"
      (categoryToggle)="onCategoryToggle($event)"
      (widgetSelectionChange)="onWidgetSelectionChange($event)"
      (widgetThumbnailClick)="onWidgetThumbnailClick($event)"
      (widgetPreviewClick)="onWidgetPreviewClick($event)"
    ></app-widget-category>
  </div>

  <div class="panel-footer">
    <button class="button-reset" (click)="resetSelections()">Reset Components</button>
    <button class="button-add" (click)="addSelectedWidgets()" [textContent]="addComponentsButtonText"></button>
    <button class="button-close" (click)="closeMenu.emit()">Close</button>
  </div>
</div>
