<!-- Dashboard Header -->
<link hidden href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<div class="dashboard-header main">
  <div class="dashboard-name">
      <mat-icon  class="dashboardCustomize"  aria-hidden="false"
                 aria-label="dashboard_customize" fontIcon="dashboard_customize"></mat-icon>
    <h2>Contact Center Dashboard</h2>
  </div>
  <div class="dashboard-controls">
    <!-- New general Add Widget button (could open a modal or dropdown) -->
    <button class="btn-refresh" (click)="presentAddWidgetOptions()" title="Add New Widget">
      <fa-icon [icon]="faPuzzlePiece" class="fas fa-puzzle-piece"></fa-icon> Add Widget
    </button>
    <button class="btn-refresh" (click)="saveLayout()" title="Save Dashboard Layout">
      <i class="fas fa-grid-2-plus"></i> Save Layout
    </button>
    <button class="btn-refresh" (click)="loadLayout()" title="Load Dashboard Layout">
      <i class="fas fa-folder-open"></i> Load Layout
    </button>
    <button class="btn-refresh" title="Refresh All Widgets" (click)="refreshAllWidgetsInternal()">
      <i class="fas fa-sync-alt"></i> Refresh All
    </button>
  </div>

</div>
<div class="dashboard-menu components">
  <div class="dashboard-components">
    <mat-icon  class="settings"  aria-hidden="false"
               aria-label="settings" fontIcon="settings"></mat-icon>
    <h2>Components</h2>
  </div>

</div>
