<div class="status-filter">
<status-switcher-with-icon
            state="'Default'"
            type="'Default'"
            prop="'דוא״ל (22%)'"
            iconStatus="stories/assets/icons/icon--channel--2.svg">
</status-switcher-with-icon>
<status-switcher-with-icon
        state="'Default'"
        type="'Default'"
        statusSwitcherWithIconWidth="'unset'"
        prop="'צ׳אט באתר (46%)'"
        divFontSize="'12px'"
        divFontFamily="'Noto Sans Hebrew''"
        iconStatus="stories/assets/icons/icon--channel--3.svg">
</status-switcher-with-icon>
<status-switcher-with-icon
        state="'Default'"
        type="'Default'"
        statusSwitcherWithIconWidth="'unset'"
        divFontSize="'unset'"
        divFontFamily="'unset'"
        iconStatus="stories/assets/icons/icon--channel--2.svg">
</status-switcher-with-icon
><status-switcher-with-icon
        state="'Default'"
        type="'Default'"
        statusSwitcherWithIconWidth="'unset'"
        prop="'Whatsapp (22%)'"
        divFontSize="'12px'"
        divFontFamily="'Noto Sans Hebrew''"
        iconStatus="stories/assets/icons/icon--channel--4.svg">
</status-switcher-with-icon>
<status-switcher-with-icon
        state="'Default'"
        type="'Default'"
        statusSwitcherWithIconWidth="'unset'"
        prop="'מסנג׳ר (10%)'"
        divFontSize="'12px'"
        divFontFamily="'Noto Sans Hebrew''"
        iconStatus="stories/assets/icons/icon--channel--6.svg">
</status-switcher-with-icon>
<status-switcher-with-icon
        state="'Default'"
        type="'Default'"
        statusSwitcherWithIconWidth="'unset'"
        prop="'שיחה קולית (22%)'"
        divFontSize="'12px'"
        divFontFamily="'Noto Sans Hebrew''"
        iconStatus="stories/assets/icons/icon--channel--voice.svg">
</status-switcher-with-icon>
</div>
