<table class="table" style="font-size: 13px;">
  <thead>
  <tr >
    <th scope="row">#</th>
    @for (header of this.tableObjHeader() ; track header) {
      <th scope="col">{{ header }}</th>
    }

    <!--<th scope="col">{{ item.AgentExten }}</th>
    <th scope="col">{{ item.State }}</th>
    <th scope="col">{{ item.AgentNo }}</th>
    <th scope="col">{{ item.StateTime }}</th>
    <th scope="col">{{ item.ACDCalls }}</th>
    <th scope="col">{{ item.OACDCalls }}</th>
    <th scope="col">{{ item.DNIS }}</th>
    <th scope="col">{{ item.ANI }}</th>-->
  </tr>
  </thead>

 <!-- <tr *ngFor="let row of tableObjBody">
    <td *ngFor="let cell of this.tableObjValues(row)">{{ cell }}</td>
  </tr>-->
<tbody>
  <tr *ngFor="let row of tableObjBody; index as i">
    <th scope="row">{{ i }}</th>
      @for (cell of this.tableObjValues(row) ; track cell) {
        <td >{{ cell.toString() }}</td>
      }


  </tr>

  </tbody>
</table>
