<div class="handler horizontal" *ngIf="resizeDirection === 'x'"
     cdkDrag (cdkDragMoved)="dragMove($event)" (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)">
</div>
<div class="handler vertical" *ngIf="resizeDirection === 'y'"
     cdkDrag (cdkDragMoved)="dragMove($event)" (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)">
</div>
<div class="handler diagonal" *ngIf="resizeDirection === 'both'"
     cdkDrag (cdkDragMoved)="dragMove($event)"  (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)">
</div>

